[package]
name = "stylua"
version = "0.9.3"
authors = ["JohnnyMorganz <therobloxbot@gmail.com>"]
description = "A code formatter for Lua"
license = "MPL-2.0"
repository = "https://github.com/johnnymorganz/stylua"
readme = "README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["cli", "utility", "lua", "lua51", "formatter"]
edition = "2018"
exclude = ["stylua-vscode/**", "tests/**"]

[lib]
name = "stylua_lib"
path = "src/lib.rs"

[[bin]]
name = "stylua"
path = "src/cli/main.rs"

[features]
default = []
luau = ["full_moon/roblox"]
lua52 = ["full_moon/lua52"]

[dependencies]
anyhow = "1.0.41"
console = "0.14.1"
directories = "3.0.2"
full_moon = { version="0.12.1" }
globset = "0.4.8"
ignore = "0.4.18"
lazy_static = "1.4.0"
regex = "1.5.4"
serde = "1.0.126"
similar = { version="1.3.0", features=["text", "inline"] }
structopt = "0.3.21"
toml = "0.5.8"

[dev-dependencies]
criterion = "0.3.4"
insta = { version="1.7.1", features=["glob"] }

[[bench]]
name = "date"
harness = false

[[bench]]
name = "nested_tables"
harness = false
