[package]
name = "stylua"
version = "0.8.0"
authors = ["JohnnyMorganz <therobloxbot@gmail.com>"]
description = "A code formatter for Lua"
license = "MPL-2.0"
repository = "https://github.com/johnnymorganz/stylua"
readme = "README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["cli", "utility", "lua", "lua51", "formatter"]
edition = "2018"
exclude = ["stylua-vscode/**", "tests/**"]

[lib]
name = "stylua_lib"
path = "src/lib.rs"

[[bin]]
name = "stylua"
path = "src/cli/main.rs"

[features]
default = []
luau = ["full_moon/roblox"]
lua52 = ["full_moon/lua52"]

[dependencies]
anyhow = "1.0.35"
console = "0.14.0"
full_moon = { version = "0.10.0" }
globset = "0.4.6"
ignore = "0.4.17"
lazy_static = "1.4.0"
regex = "1.4.2"
serde = "1.0.118"
similar = { version = "1.2.2", features = ["text", "inline"] }
structopt = "0.3.0"
toml = "0.5.7"

[dev-dependencies]
criterion = "0.3.3"
insta = { version = "1.6.3", features = ["glob"] }

[[bench]]
name = "date"
harness = false
